<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Detail Page</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="jquery.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

      <style>
      md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active 
        {
        min-width: 200px !important;
        width: 50vw !important;
        max-width: 200px !important;
        }
      </style>
      
            <script type="text/javascript">
$(document).ready(function(){
	
	$(".accordion h3:first").addClass("active");
	$(".accordion p:not(:first)").hide();

	$(".accordion h3").click(function(){
		$(this).next("p").slideToggle("slow")
		.siblings("p:visible").slideUp("slow");
		$(this).toggleClass("active");
		$(this).siblings("h3").removeClass("active");
	});

});
</script>



          

<style type="text/css">
body {
	margin: 10px auto;
	width: 100%;
	font: 75%/120% Arial, Helvetica, sans-serif;
}
.accordion {
	width: 100%;
	float:right;
	border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	background: #e9e7e7 url(images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion h3:hover {
	background-color: #e3e2e2;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
}
body,td,th {
	font-size: 16px;
}
</style>
  </head>
  <body  >
      <div ng-app="myApp" ng-controller="customersCtrl">
              <nav class="navbar navbar-inverse">
            <div class="container-fluid" >
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="https://www.google.co.in/#q=kendriya+vihar+hyderabad+indira+nagar">K.V.Phase-II</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="inactive"><a href="">Home</a></li>
                        <li class="active" ng-click="searched = false;flatNumberEntered='' "><a href="">Dashboard</a></li>
                        <li class="active"><a href="/receipts">Receipts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

              <form class="navbar-form navbar-left" role="search">
            <div class="form-group" >
                <input type="text" class="form-control" ng-model="flatNumberEntered" placeholder="Search" size="150" maxlength="200" width="50 cm" />
                
                                         
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="Settings" ng-click="getFlatDetails(flatNumberEntered )">
                <span class="glyphicon glyphicon-search"></span>
                <md-tooltip> Search</md-tooltip>
                </md-button>
        </div>
                  

            

        </form>

      
    
      
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
      
        <div class="container" ng-hide="searched" ng-init="getDetails()" > 
            <h2>
                <br/>
            
                  <md-button class="md-fab md-icon-button md-primary md-hue-3" ng-click="altersidenav()">
                      <span class="glyphicon glyphicon-filter"></span>
                        <md-tooltip> Filters</md-tooltip>
                  </md-button>
                  
                


            Flat Details</h2>
                  
                  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-open="!showsidenav" ng-cloak>
                      
                    
                <h3 > Filters</h3>  
                      <hr/>
                      <br/><br/> 
            <md-checkbox ng-model="radioflatno">Flat No</md-checkbox>
                      
            <md-checkbox ng-model="radioname">Occupant Name</md-checkbox>
                      
            <md-checkbox ng-model="radiophonenumber">Phone Number</md-checkbox>
                      
            <md-checkbox ng-model="radioemail">Email ID</md-checkbox>
                      
            <md-checkbox ng-model="radiodues">Dues</md-checkbox>
      
            <md-button class="md-raised" ng-click="altersidenav()">Close</md-button> 
                  </md-sidenav>
            <table class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th ng-hide="radioflatno">Flat Number</th>
                        <th ng-hide="radioname">
            
                            <span class="glyphicon glyphicon-user"></span>
                            Occupant Name</th>
                        <th ng-hide="radiophonenumber">
                            
                            <span class="glyphicon glyphicon-earphone"></span>
                            Phone Number</th>
                        <th ng-hide="radioemail">
                            
                            <span class="glyphicon glyphicon-envelope"></span>
                            Email Id</th>
                        <th ng-hide="radiodues">Dues</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in myjson " ng-click="getFlatDetails(x.FLAT_NO)" >
                    <tr>
                        <td ng-hide="radioflatno">{{x.FLAT_NO}}</td>
                        <td ng-hide="radioname">{{x.FIRST_NAME + " "+x.MIDDLE_NAME+ " "+x.LAST_NAME}}</td>
                        <td ng-hide="radiophonenumber">{{x.PHONE_NUMBERS}}</td>
                        <td ng-hide="radioemail">{{x.EMAIL_IDS}}</td>
                        
                        
                        <td  style="background-color:red" width="1px" ng-show="x.dues==1 && !radiodues"></td>
                
                        <td  style="background-color:green" width="1px" ng-show="x.dues==0 && !radiodues"></td>
                           
                    </tr>
                
                </tbody>

            </table>
        </div>
    
    <div class="container" ng-show="searched" >
        <br />
        <br />
        <br />
        <div class="container-fluid" >
<div class="accordion">    

    
	<h3>OWNER DETAILS        
        <div class="pull-right btn-group btn-group-xs">

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ownerModal" data-whatever="@mdo">
        <span class="glyphicon glyphicon-pencil"></span>
        <md-tooltip> Edit</md-tooltip>
        </button>
        </div>
    
    </h3>
	<p>Name of Owner : {{ownerfirstname + " "+ownermiddlename+" " +ownerlastname }}
        <br /><br />
E-Mail Id : {{owneremail}}
        <br /><br />
  Phone / Mobile : {{ownerphone}}
	    <br /><br />
Permanent Address Of Owner : {{owneraddress}}
        <br /><br />
 Current Address of Owner : {{ownercity}}
        <br /><br />
	</p>
	<h3>TENANT DETAILS
        <div class="pull-right btn-group btn-group-xs">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tenantModal" data-whatever="@mdo">
        <span class="glyphicon glyphicon-pencil"></span>
        </button>
        </div>
        </h3>
	<p>Name : {{tenantfirstname +" "+tenantmiddlename + " " + tenantlastname}}
      <br /><br />
Phone / Mobile : {{tenantmobile}}
        <br /><br />
E-Mail Id : {{tenantemail}}
        <br /><br />
Occupation : 
	</p>
	<h3>MONTHLY STATUS</h3>
    
	<p>
        JAN FEB MAR APR MAY JUN JUL  AUG SEP OCT NOV DEC
    <br/>
    <br/>
                <label>Year</label>
        <select ng-model="selectedyear" id="year"></select>
        
        {{selectedyear}}
    
    </p>
    
        <h3>FLAT DETAILS    </h3>
	<p>Registration Number : {{registrationnumber}}
      <br /><br />
	</p>


</div>
</div>
        
<div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">OWNER DETAILS</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ownerfirstname" class="control-label">First Name:</label>
            <input type="text" class="form-control" ng-model="ownerfirstname">
          </div>
           <div class="form-group">
            <label for="ownermiddlename" class="control-label">Middle Name :</label>
            <input type="text" class="form-control" ng-model="ownermiddlename">
          </div>
          <div class="form-group">
            <label for="ownerlastname" class="control-label">Last Name :</label>
            <input type="text" class="form-control" ng-model="ownerlastname">
          </div>
          <div class="form-group">
            <label for="owneremail" class="control-label">Email ID :</label>
            <input type="text" class="form-control" ng-model="owneremail">
          </div>
          <div class="form-group">
            <label for="ownerphone" class="control-label">Phone Number :</label>
            <input type="text" class="form-control" ng-model="ownerphone">
          </div>

          <div class="form-group">
            <label for="owneraddress" class="control-label">Address :</label>
            <textarea class="form-control" ng-model="owneraddress"></textarea>
          </div>
            
        <div class="form-group">
            <label for="ownercity" class="control-label">City :</label>
            <input type="text" class="form-control" ng-model="ownercity">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateOData()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
        
        <div class="modal fade" id="tenantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Tenant DETAILS</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="tenantfirstname" class="control-label">First Name:</label>
            <input type="text" class="form-control" ng-model="tenantfirstname">
          </div>
           <div class="form-group">
            <label for="tenantmiddlename" class="control-label">Middle Name :</label>
            <input type="text" class="form-control" ng-model="tenantmiddlename">
          </div>
          <div class="form-group">
            <label for="tenantlastname" class="control-label">Last Name :</label>
            <input type="text" class="form-control" ng-model="tenantlastname">
          </div>
          <div class="form-group">
            <label for="tenantmobile" class="control-label">Phone Number :</label>
            <input type="text" class="form-control" ng-model="tenantmobile">
          </div>
          <div class="form-group">
            <label for="tenantemail" class="control-label">Email ID :</label>
            <input type="text" class="form-control" ng-model="tenantemail">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTData()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
    </div>


    </div>
      <script>
      var app = angular.module('myApp', ['ngMaterial']);

    app.controller('customersCtrl', function ($scope, $http, DataService) 
    {

            $scope.searched = false;
            
            $scope.ownerdbid="";
            $scope.flatdbid="";
            $scope.tenantdbid="";
            
            $scope.ownerid = "";
            $scope.ownername = "";
            $scope.ownerphone = "";
            $scope.owneraddress = "";
            $scope.owneremail="";
            $scope.ownercity = "";
            $scope.flatNumberEntered;
            $scope.enteredValue = "";
            $scope.editorEnable=false;
            $scope.editorEnable1=false;
            
            $scope.tenantfirstname="";
            $scope.tenantmiddlename="";
            $scope.tenantlastname="";
            $scope.tenantemail="";
            $scope.tenantmobile="";        

            $scope.registrationnumber = "";
            $scope.flatno="";
                        
            $scope.color =[ 'red' , 'green' ];
            
            $scope.showsidenav=true;
    
            $scope.altersidenav = function()
            {
                $scope.showsidenav = !$scope.showsidenav;
            }
            
            $scope.editable = function()
            {
                $scope.editorEnable=true;
            }
            $scope.edit = function()
            {
                $scope.editorEnable1=true;
            }
                    
                var start = 2010;
                var end = new Date().getFullYear();
                var options = "";
                for(var year = start ; year <=end; year++){
                    options += "<option>"+ year +"</option>";
            }
            document.getElementById("year").innerHTML = options;
            
            $scope.updateOData = function()
            {
            $scope.editorEnable=false;
                
            var request= {
                    OWNER_ID : $scope.ownerid,
                    FIRST_NAME : $scope.ownerfirstname,
                    MIDDLE_NAME :$scope.ownermiddlename,
                    LAST_NAME : $scope.ownerlastname,
                    ADDRESS : $scope.owneraddress,
                    CITY : $scope.ownercity,
                    PHONE_NUMBERS : $scope.ownerphone,
                    EMAIL_IDS : $scope.owneremail
    
                };

                
                $http.put('/owner/'+ $scope.ownerdbid,request);
            }

            $scope.updateTData = function()
            {
            $scope.editorEnable1=false;
                
            var request= {
                    TENANT_ID : $scope.tenantid,
                    FLAT_NO : $scope.flatno,
                    FIRST_NAME : $scope.tenantfirstname,
                    MIDDLE_NAME : $scope.tenantmiddlename,
                    LAST_NAME : $scope.tenantlastname,
                    EMAIL_IDS : $scope.tenantemail,
                    PHONE_NUMBERS : $scope.tenantmobile
                    
                };

                
                $http.put('/tenant/'+ $scope.tenantdbid,request);
            }
            
            $scope.resetLabels = function()
            {
                    $scope.registrationnumber="";
                    $scope.flatno="";
                    
                    $scope.ownerid="";
                    $scope.ownerfirstname="";
                    $scope.ownerlastname="";
                    $scope.ownerphone="";
                    $scope.owneraddress="";
                    $scope.ownercity="";
                    
                    $scope.flatdbid="";
                    $scope.ownerdbid="";
                    $scope.tenantdbid="";
                    
                    $scope.tenantemail="";
                    $scope.tenantfirstname="";
                    $scope.tenantlastname="";
                    $scope.tenantmiddlename="";
                    $scope.tenantmobile="";
                
                    $scope.editorEnable1=false;
                    $scope.editorEnable=false;

            }

            
            $scope.getFlatDetails = function (inputsearch) 
            {
                $scope.resetLabels();
                if(inputsearch == "")
                {
                }
                else
                {
                    $scope.searched = true;
                    console.log(inputsearch);
                    for (var i = 0; i < $scope.flat.length; i++) 
                    {
                        if ($scope.flat[i].FLAT_NO === inputsearch) 
                        {
                            console.log($scope.flat[i].FLAT_NO);
                            $scope.registrationnumber = $scope.flat[i].REGISTRATION_NUMBER;
                            $scope.ownerid = $scope.flat[i].OWNERS;
                            $scope.flatdbid =$scope.flat[i]._id;
                            $scope.flatno = $scope.flat[i].FLAT_NO;
                            
                            for (var j = 0; j < $scope.owners.length; j++) 
                            {
                                if($scope.ownerid === $scope.owners[j].OWNER_ID)
                                {
                                    $scope.ownerfirstname = $scope.owners[j].FIRST_NAME;
                                    $scope.ownermiddlename = $scope.owners[j].MIDDLE_NAME;
                                    $scope.ownerlastname = $scope.owners[j].LAST_NAME;
                                    $scope.ownerphone = $scope.owners[j].PHONE_NUMBERS;
                                    $scope.owneremail = $scope.owners[j].EMAIL_IDS;
                                    $scope.ownercity = $scope.owners[j].CITY;
                                    $scope.owneraddress = $scope.owners[j].ADDRESS;
                                    $scope.ownerdbid = $scope.owners[j]._id;
                                }

                            }
                            
                        }
                    }
                    
                    for(var k=0;k < $scope.tenants.length;k++)
                    {
                        if($scope.tenants[k].FLAT_NO === inputsearch)
                        {
                            $scope.tenantfirstname = $scope.tenants[k].FIRST_NAME;
                            $scope.tenantmiddlename = $scope.tenants[k].MIDDLE_NAME;
                            $scope.tenantlastname = $scope.tenants[k].LAST_NAME;
                            $scope.tenantemail= $scope.tenants[k].EMAIL_IDS;
                            $scope.tenantmobile = $scope.tenants[k].PHONE_NUMBERS;
                            $scope.tenantdbid = $scope.tenants[k]._id;
                        }
                        
                    }

                }
            }
                     
            $scope.getDetails = function() 
            {

                DataService.getAllData().then(
                    $scope.getAllDataSuccessHandler
                );
                

            }

            
            $scope.getAllDataSuccessHandler = function(response)
            {
                console.log(response);
                $scope.tenants = response.data.docs1;
                $scope.owners = response.data.docs2;
                $scope.flats = response.data.docs3;
                $scope.myjson = $scope.tenants;
                
                $scope.getOwnerDetails();
                $scope.getRandomSpan();
                $scope.firstFunction();
            }
            
            $scope.getOwnerDetails = function()
            {
            //     console.log($scope.owners);
                for(var i=0;i< $scope.owners.length; i++)
                {
                    $scope.getOwnedFlats(i); 
                }    
            }
            
            $scope.getOwnedFlats = function(particularOwner)
            {
                i = particularOwner;

                $scope.ownerId = $scope.owners[particularOwner].OWNER_ID; 
                for(var i =0; i< $scope.flat.length; i++)
                {
                    if($scope.flat[i].OWNERS == $scope.ownerId)
                    {
                        $scope.owners[particularOwner].ownedFlats=$scope.flat[i].FLAT_NO;
                    }
                }
                
            }
            
            $scope.getRandomSpan =function()
            {
                for(var i=0;i<$scope.owners.length;i++)
                {
                    $scope.owners[i].dues=Math.floor(Math.random()*2);
                    $scope.tenants[i].dues=Math.floor(Math.random()*2);
                }
            }

            $scope.firstFunction = function()
            {
                for(var i=0; i<$scope.tenants.length ;i++)
                {
                    if($scope.tenants[i].FIRST_NAME === "" && $scope.tenants[i].MIDDLE_NAME === "" && $scope.tenants[i].LAST_NAME === "" )
                    {
                        for(var j=0; j<$scope.owners.length ; j++)
                        {
                            if($scope.owners[j].ownedFlats === $scope.tenants[i].FLAT_NO)
                            {
                                $scope.myjson[i].FIRST_NAME = $scope.owners[j].FIRST_NAME;
                                $scope.myjson[i].LAST_NAME = $scope.owners[j].LAST_NAME;
                                $scope.myjson[i].MIDDLE_NAME = $scope.owners[j].MIDDLE_NAME;
                                $scope.myjson[i].EMAIL_IDS = $scope.owners[j].EMAIL_IDS;
                                $scope.myjson[i].PHONE_NUMBERS = $scope.owners[j].PHONE_NUMBERS;
                                console.log($scope.myjson[i]);
                                
                            }
                        }
                        
                    }
                    
                }
            }

                            
/*            $http.get("/flatDetails")
            .success(function (response) { $scope.flat = response.docs; });


            $http.get("/tenantDetails")
            .success(function (response) { $scope.tenants = response.docs;  $scope.myjson = $scope.tenants;});

  */          

        });


        app.factory("DataService",function($http,$location){
    
            var _getDataService = 
            {
                
                getAllData : function()
                {
            	   return $http.get('/flatDetails');
                },            
            }
            
            return _getDataService;
        });



    </script>

  </body>
</html>