<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Detail Page</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

      <style>
      md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active 
        {
        min-width: 200px !important;
        width: 50vw !important;
        max-width: 200px !important;
        }
      </style>
      
            <script type="text/javascript">
$(document).ready(function(){
	
	$(".accordion h3:first").addClass("active");
	$(".accordion p:not(:first)").hide();

	$(".accordion h3").click(function(){
		$(this).next("p").slideToggle("slow")
		.siblings("p:visible").slideUp("slow");
		$(this).toggleClass("active");
		$(this).siblings("h3").removeClass("active");
	});

});
</script>

<style type="text/css">

.red {
    color: red;
}
.green {
    color: green;
}
.grey {
    color: grey;
}
      
</style>         

<style type="text/css">
body {
	margin: 10px auto;
	width: 100%;
	font: 75%/120% Arial, Helvetica, sans-serif;
}
.accordion {
	width: 100%;
	float:right;
	border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	background: #e9e7e7 url(images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion h3:hover {
	background-color: #e3e2e2;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
}
body,td,th {
	font-size: 16px;
}
</style>
  </head>
  <body  >
      <div ng-app="myApp" ng-controller="customersCtrl">
              <nav class="navbar navbar-inverse">
            <div class="container-fluid" >
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="https://www.google.co.in/#q=kendriya+vihar+hyderabad+indira+nagar">K.V.Phase-II</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="inactive"><a href="">Home</a></li>
                        <li class="active" ng-click="searched = false;flatNumberEntered='' "><a href="">Dashboard</a></li>
                        <li class="inactive"><a href="/receipts">Receipts</a></li>
                        <li class="inactive"><a href="/maintenance">Maintenence</a></li>
                        <!--<li class="inactive"><a href="/email">Emails</a></li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

              <form class="navbar-form navbar-left" role="search">
            <div class="form-group" >
                <input type="text" class="form-control" ng-model="flatNumberEntered" placeholder="Search" size="150" maxlength="200" width="50" />
                                         
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="Settings" ng-click="getFlatDetails(flatNumberEntered )">
                <span class="glyphicon glyphicon-search"></span>
                <md-tooltip> Search</md-tooltip>
                </md-button>
        </div>    
        </form>
      
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
      
        <div class="container" ng-hide="searched" ng-init="getDetails()" > 
            <h2>
                <br/>
                <br/>
            <div class="form-group">
                          <div class="row">
                              <div class="col-sm-11 col-md-11">          
                  <md-button class="md-fab md-icon-button md-primary md-hue-3" ng-click="altersidenav()">
                      <span class="glyphicon glyphicon-filter"></span>
                        <md-tooltip> Filters</md-tooltip>
                  </md-button>

            Flat Details
                </div>
                             <div class="col-sm-1 col-md-1">                  
                  <md-button class="md-warn md-raised md-fab" aria-label="Eat cake" ng-click="sendmails()">
                      <span class="glyphicon glyphicon-send"></span>
                        <md-tooltip> Mails</md-tooltip>
                  </md-button>                                 
                                </div>
                </div>
                </div>
            </h2>

                  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-open="!showsidenav" ng-cloak>
                  
                <h3 > Filters</h3>  
                      <hr/>
                      <br/><br/> 
            <md-checkbox ng-model="radioflatno" ng-init="radioflatno=true">Flat No</md-checkbox>
            <md-checkbox ng-model="radioname" ng-init="radioname=true">Occupant Name</md-checkbox>
            <md-checkbox ng-model="radiophonenumber" ng-init="radiophonenumber=true"> Phone Number</md-checkbox>
            <md-checkbox ng-model="radioemail" ng-init="radioemail=true">Email ID</md-checkbox>
            <md-checkbox ng-model="radiodues" ng-init="radiodues=true">Dues</md-checkbox>
            <md-button class="md-raised" ng-click="altersidenav()">Close</md-button> 
                  </md-sidenav>
            <table class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th ng-show="radioflatno">Flat Number</th>
                        <th ng-show="radioname">
                            <span class="glyphicon glyphicon-user"></span>
                            Occupant Name</th>
                        <th ng-show="radiophonenumber">
                            <span class="glyphicon glyphicon-earphone"></span>
                            Phone Number</th>
                        <th ng-show="radioemail">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Email Id</th>
                        <th ng-show="radiodues">Dues</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in myjson " ng-click="getFlatDetails(x.FLAT_NO)" >
                    <tr>
                        <td ng-show="radioflatno">{{x.FLAT_NO}}</td>
                        <td ng-show="radioname">{{x.FIRST_NAME + " "+x.MIDDLE_NAME+ " "+x.LAST_NAME}}</td>
                        <td ng-show="radiophonenumber">{{x.PHONE_NUMBERS}}</td>
                        <td ng-show="radioemail">{{x.EMAIL_IDS}}</td>
                        <td  style="background-color:red" width="1px" ng-show="x.dues==1 && radiodues"></td>
                        <td  style="background-color:green" width="1px" ng-show="x.dues==0 && radiodues"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <div class="container" ng-show="searched" >
        <br />
        <br />
        <br />
        <div class="container-fluid" >
<div class="accordion">    
    
	<h3>OWNER DETAILS        
        <div class="pull-right btn-group btn-group-xs">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ownerModal" data-whatever="@mdo">
        <span class="glyphicon glyphicon-pencil"></span>
        <md-tooltip> Edit</md-tooltip>
        </button>
        </div>
    
    </h3>
	<p>Name of Owner : {{o.FIRST_NAME + " "+o.MIDDLE_NAME +" " +o.LAST_NAME }}
        <br /><br />
E-Mail Id : {{o.EMAIL_IDS}}
        <br /><br />
  Phone / Mobile : {{o.PHONE_NUMBERS}}
	    <br /><br />
Permanent Address Of Owner : {{o.ADDRESS}}
        <br /><br />
 Current Address of Owner : {{o.CITY}}
        <br /><br />
	</p>
	<h3>TENANT DETAILS
        <div class="pull-right btn-group btn-group-xs">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tenantModal" data-whatever="@mdo">
        <span class="glyphicon glyphicon-pencil"></span>
        </button>
        </div>
        </h3>
	<p>Name : {{t.FIRST_NAME +" "+t.MIDDLE_NAME + " " + t.LAST_NAME}}
      <br /><br />
Phone / Mobile : {{t.PHONE_NUMBERS}}
        <br /><br />
E-Mail Id : {{t.EMAIL_IDS}}
        <br /><br />
Occupation : 
	</p>
    
    <h3>FLAT DETAILS
        <div class="pull-right btn-group btn-group-xs">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flatModal" data-whatever="@mdo">
        <span class="glyphicon glyphicon-pencil"></span>
        </button>
        </div>
        </h3>        
	<p> Registration Number : {{f.REGISTRATION_NUMBER}}
        <br/><br/>
        Property Tax Number : {{f.PROPERTY_TAX_NUMBER}}
        <br/><br />
        Electricity Service Number : {{f.ELECTRICITY_SERVICE_NUMBER}}
        <br/><br/>
        Sales Deed Date : {{f.SALE_DEED_DATE}}
        <br/><br/>
        Block Number : {{f.BLOCK_NUMBER}}
        <br/><br/>
        Car parking slots : {{f.CAR_PARKING_SLOTS}}
        <br/><br/>
	</p>

	<h3>MONTHLY STATUS</h3>
	<p ng-init="duestatusfn(flatno,end)">
        {{flatno}}
    <a ng-repeat="z in obj">
    <span ng-class="{red: z.status == 0, green: z.status == 1, grey: z.status ==2}"> {{ z.month }}</span>
    </a>
    <br/>
    <br/>
                <label>Year</label>
        <select ng-model="selectedyear" ng-init="year=end" id="year" ng-click="duestatusfn(flatno,selectedyear)"></select>
    
    </p>    

</div>
</div>
        
<div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">OWNER DETAILS</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="o.FIRST_NAME" class="control-label">First Name:</label>
            <input type="text" class="form-control" ng-model="o.FIRST_NAME">
          </div>
           <div class="form-group">
            <label for="o.MIDDLE_NAME" class="control-label">Middle Name :</label>
            <input type="text" class="form-control" ng-model="o.MIDDLE_NAME">
          </div>
          <div class="form-group">
            <label for="o.LAST_NAME" class="control-label">Last Name :</label>
            <input type="text" class="form-control" ng-model="o.LAST_NAME">
          </div>
          <div class="form-group">
            <label for="o.EMAIL_IDS" class="control-label">Email ID :</label>
            <input type="text" class="form-control" ng-model="o.EMAIL_IDS">
          </div>
          <div class="form-group">
            <label for="o.PHONE_NUMBERS" class="control-label">Phone Number :</label>
            <input type="text" class="form-control" ng-model="o.PHONE_NUMBERS">
          </div>

          <div class="form-group">
            <label for="o.ADDRESS" class="control-label">Address :</label>
            <textarea class="form-control" ng-model="o.ADDRESS"></textarea>
          </div>
            
        <div class="form-group">
            <label for="o.CITY" class="control-label">City :</label>
            <input type="text" class="form-control" ng-model="o.CITY">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getFlatDetails(inputsearch)">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateOData()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
        
        <div class="modal fade" id="tenantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Tenant DETAILS</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="t.FIRST_NAME" class="control-label">First Name:</label>
            <input type="text" class="form-control" ng-model="t.FIRST_NAME">
          </div>
           <div class="form-group">
            <label for="t.MIDDLE_NAME" class="control-label">Middle Name :</label>
            <input type="text" class="form-control" ng-model="t.MIDDLE_NAME">
          </div>
          <div class="form-group">
            <label for="t.LAST_NAME" class="control-label">Last Name :</label>
            <input type="text" class="form-control" ng-model="t.LAST_NAME">
          </div>
          <div class="form-group">
            <label for="t.PHONE_NUMBERS" class="control-label">Phone Number :</label>
            <input type="text" class="form-control" ng-model="t.PHONE_NUMBERS">
          </div>
          <div class="form-group">
            <label for="t.EMAIL_IDS" class="control-label">Email ID :</label>
            <input type="text" class="form-control" ng-model="t.EMAIL_IDS">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getFlatDetails(inputsearch)">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTData()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
        
    <div class="modal fade" id="flatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Flat DETAILS</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="f.REGISTRATION_NUMBER" class="control-label">Registration Number:</label>
            <input type="text" class="form-control" ng-model="f.REGISTRATION_NUMBER">
          </div>
           <div class="form-group">
            <label for="f.PROPERTY_TAX_NUMBER" class="control-label">Property Tax Number :</label>
            <input type="text" class="form-control" ng-model="f.PROPERTY_TAX_NUMBER">
          </div>
          <div class="form-group">
            <label for="f.ELECTRICITY_SERVICE_NUMBER" class="control-label">Electricity Service Number :</label>
            <input type="text" class="form-control" ng-model="f.ELECTRICITY_SERVICE_NUMBER">
          </div>
          <div class="form-group">
            <label for="f.SALE_DEED_DATE" class="control-label">Sales Deed Date :</label>
            <input type="text" class="form-control" ng-model="f.SALE_DEED_DATE">
          </div>
          <div class="form-group">
            <label for="f.BLOCK_NUMBER" class="control-label">Block Number :</label>
            <input type="text" class="form-control" ng-model="f.BLOCK_NUMBER">
          </div>
          <div class="form-group">
            <label for="f.CAR_PARKING_SLOTS" class="control-label">Car Parking slots :</label>
            <input type="text" class="form-control" ng-model="f.CAR_PARKING_SLOTS">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getFlatDetails(inputsearch)">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateFData()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
        
    </div>
    </div>
      <script>
      var app = angular.module('myApp', ['ngMaterial']);
    app.controller('customersCtrl', function ($scope, $http, DataService) 
    {
            $scope.searched = false;
            $scope.ownerdbid="";
            $scope.flatdbid="";
            $scope.tenantdbid="";
            $scope.ownerid = "";
            $scope.flatNumberEntered;
            $scope.flatno="";            
            $scope.color =[ 'red' , 'green' ];
            $scope.years =[ 'JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC' ];
            $scope.showsidenav=true;
            $scope.t="";
            $scope.o="";
            $scope.f="";
    
            $scope.altersidenav = function()
            {
                $scope.showsidenav = !$scope.showsidenav;
            }
                        
            var start = 2010;
            $scope.end = new Date().getFullYear();
            var options = "";
            for(var year = start ; year <=$scope.end; year++)
            {
                options += "<option>"+ year +"</option>";
            }
            document.getElementById("year").innerHTML = options;            
                        
            $scope.updateOData = function()
            {
            var request= {
                    OWNER_ID : $scope.ownerid,
                    FIRST_NAME : $scope.o.FIRST_NAME,
                    MIDDLE_NAME :$scope.o.MIDDLE_NAME,
                    LAST_NAME : $scope.o.LAST_NAME,
                    ADDRESS : $scope.o.ADDRESS,
                    CITY : $scope.o.CITY,
                    PHONE_NUMBERS : $scope.o.PHONE_NUMBERS,
                    EMAIL_IDS : $scope.o.EMAIL_IDS
                };
                $http.put('/owner/'+ $scope.ownerdbid,request);
            }

            $scope.updateTData = function()
            {
            var request= {
                    TENANT_ID : $scope.tenantid,
                    FLAT_NO : $scope.flatno,
                    FIRST_NAME : $scope.t.FIRST_NAME,
                    MIDDLE_NAME : $scope.t.MIDDLE_NAME,
                    LAST_NAME : $scope.t.LAST_NAME,
                    EMAIL_IDS : $scope.t.EMAIL_IDS,
                    PHONE_NUMBERS : $scope.t.PHONE_NUMBERS
                    
                };
                $http.put('/tenant/'+ $scope.tenantdbid,request);
            }
            
            $scope.updateFData = function()
            {
            var request= {
                    FLAT_ID : $scope.flatdbid,        
                    REGISTRATION_NUMBER : $scope.f.REGISTRATION_NUMBER,
                    PROPERTY_TAX_NUMBER : $scope.f.PROPERTY_TAX_NUMBER,
                    ELECTRICITY_SERVICE_NUMBER : $scope.f.ELECTRICITY_SERVICE_NUMBER,
                    SALE_DEED_DATE : $scope.f.SALE_DEED_DATE,
                    BLOCK_NUMBER : $scope.f.BLOCK_NUMBER,
                    CAR_PARKING_SLOTS : $scope.f.CAR_PARKING_SLOTS
                    
                };
                $http.put('/flat/'+ $scope.flatdbid,request);
            }
            
            $scope.resetLabels = function()
            {
                    $scope.t="";
                    $scope.o="";
                    $scope.f="";
                    $scope.flatno="";
                    $scope.ownerid="";
                    $scope.flatdbid="";
                    $scope.ownerdbid="";
                    $scope.tenantdbid="";                    
            }
            
            $scope.getFlatDetails = function (inputsearch) 
            {
                inputsearch = angular.uppercase(inputsearch);
        
                $scope.resetLabels();
                if(inputsearch == "")
                {
                }
                else
                {
                    $scope.searched = true;
                    console.log(inputsearch);
                    for (var i = 0; i < $scope.flat.length; i++) 
                    {
                        if ($scope.flat[i].FLAT_NO === inputsearch) 
                        {
                            $scope.f = $scope.flat[i];
                            $scope.ownerid = $scope.flat[i].OWNERS;
                            $scope.flatdbid =$scope.flat[i]._id;
                            $scope.flatno = $scope.flat[i].FLAT_NO;
                            for (var j = 0; j < $scope.owners.length; j++) 
                            {
                                if($scope.ownerid === $scope.owners[j].OWNER_ID)
                                {
                                    $scope.o=$scope.owners[j];
                                    $scope.ownerdbid = $scope.owners[j]._id;
                                }
                            }
                        }
                    }
                    for(var k=0;k < $scope.tenants.length;k++)
                    {
                        if($scope.tenants[k].FLAT_NO === inputsearch)
                        {
                            $scope.t=$scope.tenants[k];
                            $scope.tenantdbid = $scope.tenants[k]._id;
                        }
                    }
                }
            }
                     
            $scope.getDetails = function() {
                DataService.getOwnersData().then(
                    $scope.getOwnersDataSuccessHandler
                );
            }
            
            $scope.getOwnersDataSuccessHandler = function(response)
            {
                console.log(response);
                $scope.owners = response.data.docs;
                console.log($scope.owners);
                $scope.getOwnerDetails();
                $scope.firstFunction();
                $scope.getRandomSpan();

            }
            
            $scope.getOwnerDetails = function()
            {
                for(var i=0;i< $scope.owners.length; i++)
                {
                    $scope.getOwnedFlats(i); 
                }    
            }
            
            $scope.getOwnedFlats = function(particularOwner)
            {
                i = particularOwner;
                $scope.ownerId = $scope.owners[particularOwner].OWNER_ID; 
                for(var i =0; i< $scope.flat.length; i++)
                {
                    if($scope.flat[i].OWNERS == $scope.ownerId)
                    {
                        $scope.owners[particularOwner].ownedFlats=$scope.flat[i].FLAT_NO;
                    }
                }
            }
            
            $scope.duestatusfn = function(dueflatnumber,selectedyear)
            {
                $http.get("/monthlyStatus/", {
                    params: { flatNumber:dueflatnumber,year:selectedyear }    
                }).success(function (response) { $scope.duesoftheyear = response.duestatus; });
                
                $scope.formarray();
            }
            
            $scope.months=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'];        
        
            $scope.formarray = function()
            {
                for(var a=0;a<$scope.duesoftheyear;a++)
                {
                    $scope.obj[a].status = $scope.duesoftheyear[a];
                    $scope.obj[a].month = $scope.months[a];
                }
            }

            $scope.getRandomSpan =function()
            {
                for(var i=0;i<$scope.owners.length;i++)
                {
                    $scope.owners[i].dues=Math.floor(Math.random()*2);
                    $scope.duestatusfn($scope.tenants[i].FLAT_NO,$scope.end);
                    if($scope.duesoftheyear[i]=== 0)
                    {
                        $scope.tenants[i].dues=1;
                        break;
                    }
                    else if($scope.duesoftheyear[i] ===1 || $scope.duesoftheyear[i] ===2)
                    {
                        $scope.tenants[i].dues= 0;
                    }
                    
                }
            }

            $scope.firstFunction = function()
            {
                for(var i=0; i<$scope.tenants.length ;i++)
                {
                    if($scope.tenants[i].FIRST_NAME === "" && $scope.tenants[i].MIDDLE_NAME === "" && $scope.tenants[i].LAST_NAME === "" )
                    {
                        for(var j=0; j<$scope.owners.length ; j++)
                        {
                            if($scope.owners[j].ownedFlats === $scope.tenants[i].FLAT_NO)
                            {
                                $scope.myjson[i].FIRST_NAME = $scope.owners[j].FIRST_NAME;
                                $scope.myjson[i].LAST_NAME = $scope.owners[j].LAST_NAME;
                                $scope.myjson[i].MIDDLE_NAME = $scope.owners[j].MIDDLE_NAME;
                                $scope.myjson[i].EMAIL_IDS = $scope.owners[j].EMAIL_IDS;
                                $scope.myjson[i].PHONE_NUMBERS = $scope.owners[j].PHONE_NUMBERS;                                
                            }
                        }
                        
                    }
                    
                }
            }
            
            $scope.sendmails = function()
            {
                for(var i=0;i<$scope.tenants.length ; i++)
                {
                    if($scope.tenants[i].dues == 1)
                    {
                        $scope.mailedlist[i] = $scope.tenants[i].EMAIL_IDS;
                    }
                }
                
                $http.post('/dues', data)
                .success(function(data) {
                    $scope.mailedlist = data;
                })
                .error(function(data) {
                    console.log('Error: ' + data);
                });
                            
            }
                            
            $http.get("/flatDetails")
            .success(function (response) { $scope.flat = response.docs; });

            $http.get("/tenantDetails")
            .success(function (response) { $scope.tenants = response.docs;  $scope.myjson = response.docs;});

        });

        app.factory("DataService",function($http,$location){
    
            var _getDataService = 
            {
                
                getOwnersData : function()
                {
            	   return $http.get('/ownerDetails');
                },
                getFlatsData : function()
                {
                    return $http.get('/flatDetails');
                },
                getTenantsData : function()
                {
                    return $http.get('/tenantDetails');
                },
            
            }
            
            return _getDataService;
        });
    </script>
  </body>
</html>