<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Detail Page</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script type="text/javascript" src="jquery.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>

<body>
    <div ng-app="myApp" ng-controller="customersCtrl">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="https://www.google.co.in/#q=kendriya+vihar+hyderabad+indira+nagar">K.V.Phase-II</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="inactive"><a href="">Home</a></li>
                        <li class="active" ng-click="searched = false;flatNumberEntered='' "><a href="">Dashboard</a></li>
                        <li class="active"><a href="/receipts">Receipts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="flatNumberEntered" placeholder="Search" size="150" maxlength="200" width="50 cm" />
            
            <button type="submit" class="btn btn-default" ng-click="getFlatDetails(flatNumberEntered)">Submit</button>
                </div>
        </form>
    
        <div class="container" ng-hide="searched" ng-init="getDetails()"> 
            <br />
            <h2>Flat Details</h2>

            <table class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Flat Number</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email Id</th>
                        <th>Dues</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in tenants" >
                    <tr>
                        <td>{{x.FLAT_NO}}</td> 
                        <td>{{x.FIRST_NAME}} {{x.LAST_NAME}}</td>
                        <td>{{x.PHONE_NUMBERS}}</td>
                        <td>{{x.EMAIL_IDS}}</td>
                            
                        <td  style="background-color:red" width="1px" ng-show="x.dues==1"></td>
            
                        <td  style="background-color:green" width="1px" ng-show="x.dues==0"></td>

                    </tr>

                </tbody>

            </table>
        </div>

    <div class="container" ng-show="searched">
        <br />
        <br />
        <br />
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              OWNER DETAILS  
            </a>
                <div class="pull-right btn-group btn-group-xs">
                <button class="btn btn-default btn-xs" ng-click="editable()">Edit</button>
              </div>
                <div class="pull-right btn-group btn-group-xs">
                <button class="btn btn-default btn-xs" ng-disabled="editorEnable==false" ng-click="updateOData()">Save</button>
              </div>


          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
              <div class="row-fluid">
                 
                <div ng-hide="editorEnable">
                    
                     Name of Owner : {{ownerfirstname + " "+ownermiddlename+" " +ownerlastname }}
                    <br />
              </div>
                <div ng-show="editorEnable" class ="span8">
                     
                Name of Owner :<input type="text" ng-model="ownerfirstname" ng-show="editorEnable" value="ownername"></input>
              
                </div>
              <br />
              
            
            <div ng-hide="editorEnable" >
                
                E-Mail Id : {{owneremail}}
                <br />
            </div>
            <div ng-show ="editorEnable"  class ="span8">
                
                E-Mail Id : <input type="text" ng-model="owneremail" ng-show="editorEnable"  value="owneremail"></input>
            
            
            </div>
            <br />
            
                
        <div ng-hide="editorEnable" >
                Phone / Mobile : {{ownerphone}}
            <br />
        </div>
        <div ng-show ="editorEnable"  class ="span8">
                Phone / Mobile : <input type="text" ng-model="ownerphone" ng-show="editorEnable"  value="ownerphone"></input>
            
            
        </div>
          <br />
          
                    
            <div ng-hide="editorEnable" >
                
                Permanent Address Of Owner : {{owneraddress}}
                <br />
            </div>
            <div ng-show ="editorEnable"  class ="span8">
                
                Permanent Address of Owner : <input type="text" ng-model="owneraddress" ng-show="editorEnable"  value="owneraddress"></input>
            
            
            </div>
            <br />
                
        <div ng-hide="editorEnable" >
                City of Owner : {{ownercity}}
            <br />
        </div>
        <div ng-show ="editorEnable"  class ="span8" >
                City of Owner : <input type="text" ng-model="ownercity" ng-show="editorEnable"  value="ownercity"></input>
            <br />


          </div>
        <br />
        </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
               TENANT DETAILS 
            </a>
              <div class="pull-right btn-group btn-group-xs">
                <button class="btn btn-default btn-xs" ng-click="edit()">Edit</button>
              </div>
                <div class="pull-right btn-group btn-group-xs">
                <button class="btn btn-default btn-xs" ng-disabled="editorEnable1==false" ng-click="updateTData()">Save</button>
              </div>


          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="row-fluid">
                        <p>
                            <div ng-hide="editorEnable1" >
                            Name : {{tenantfirstname +" "+tenantmiddlename + " " + tenantlastname}}
                            
              </div>
                  <br />
                            
        <div ng-show ="editorEnable1"  class ="span8" >
                Name : <input type="text" ng-model="tenantfirstname" ng-show="editorEnable1"  value="tenantname"></input>
            <br />

          </div>              
              
            <div ng-hide="editorEnable1" >
                            Phone / Mobile : {{tenantmobile}}
          </div>
              
              <br />
                  <div ng-show ="editorEnable1"  class ="span8" >
                Phone / Mobile : <input type="text" ng-model="tenantmobile" ng-show="editorEnable1"  value="tenantmobile"></input>
            <br />

          </div>              

                            
                <div ng-hide="editorEnable1" >
                            E-Mail Id : {{tenantemail}}
          </div>
            
            <br />
            <div ng-show ="editorEnable1"  class ="span8" >
                E-Mail Id : <input type="text" ng-model="tenantemail" ng-show="editorEnable1"  value="tenantemail"></input>
            <br />

          </div>              

                <br />           
                    
                        </p>
        </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              MONTHLY STATUS
            </a>

          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
              <p>JAN FEB MAR APR MAY JUN JUL  AUG SEP OCT NOV DEC</p>      </div>
        </div>
      </div>

          <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              FLAT DETAILS
            </a>

          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
                        <p>
                            Registration Number : {{registrationnumber}}
                            <br /><br />
                        </p>

            </div>
        </div>
      </div>

    </div>

    </div>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http, DataService) {

            $scope.searched = false;
            
            $scope.ownerdbid="";
            $scope.flatdbid="";
            $scope.tenantdbid="";
            
            $scope.ownerid = "";
            $scope.ownername = "";
            $scope.ownerphone = "";
            $scope.owneraddress = "";
            $scope.owneremail="";
            $scope.ownercity = "";
            $scope.flatNumberEntered;
            $scope.enteredValue = "";
            $scope.editorEnable=false;
            $scope.editorEnable1=false;
            
            $scope.tenantfirstname="";
            $scope.tenantmiddlename="";
            $scope.tenantlastname="";
            $scope.tenantemail="";
            $scope.tenantmobile="";        

            $scope.registrationnumber = "";
            $scope.flatno="";
            
            $scope.color =[ 'red' , 'green' ];
            
            $scope.editable = function()
            {
                $scope.editorEnable=true;
            }
            $scope.edit = function()
            {
                $scope.editorEnable1=true;
            }
            
            $scope.updateOData = function()
            {
            $scope.editorEnable=false;
                
            var request= {
                    OWNER_ID : $scope.ownerid,
                    FIRST_NAME : $scope.ownerfirstname,
                    MIDDLE_NAME :$scope.ownermiddlename,
                    LAST_NAME : $scope.ownerlastname,
                    ADDRESS : $scope.owneraddress,
                    CITY : $scope.ownercity,
                    PHONE_NUMBERS : $scope.ownerphone,
                    EMAIL_IDS : $scope.owneremail
    
                };

                
                $http.put('/owner/'+ $scope.ownerdbid,request);
            }

            $scope.updateTData = function()
            {
            $scope.editorEnable1=false;
                
            var request= {
                    TENANT_ID : $scope.tenantid,
                    FLAT_NO : $scope.flatno,
                    FIRST_NAME : $scope.tenantfirstname,
                    MIDDLE_NAME : $scope.tenantmiddlename,
                    LAST_NAME : $scope.tenantlastname,
                    EMAIL_IDS : $scope.tenantemail,
                    PHONE_NUMBERS : $scope.tenantmobile
                    
                };

                
                $http.put('/tenant/'+ $scope.tenantdbid,request);
            }
            
            
            
            $scope.getFlatDetails = function (inputsearch) 
            {
                
                if(inputsearch === "")
                {
                    $scope.registrationnumber="";
                    $scope.flatno="";
                    
                    $scope.ownerid="";
                    $scope.ownerfirstname="";
                    $scope.ownerlastname="";
                    $scope.ownerphone="";
                    $scope.owneraddress="";
                    $scope.ownercity="";
                    
                    $scope.flatdbid="";
                    $scope.ownerdbid="";
                    $scope.tenantdbid="";
                    
                    $scope.tenantemail="";
                    $scope.tenantfirstname="";
                    $scope.tenantlastname="";
                    $scope.tenantmiddlename="";
                    $scope.tenantmobile="";
                }
                else
                {
                    $scope.searched = true;
                    console.log(inputsearch);
                    for (var i = 0; i < $scope.flat.length; i++) 
                    {
                        if ($scope.flat[i].FLAT_NO === inputsearch) 
                        {
                            console.log($scope.flat[i].FLAT_NO);
                            $scope.registrationnumber = $scope.flat[i].REGISTRATION_NUMBER;
                            $scope.ownerid = $scope.flat[i].OWNERS;
                            $scope.flatdbid =$scope.flat[i]._id;
                            $scope.flatno = $scope.flat[i].FLAT_NO;
                            
                            for (var j = 0; j < $scope.owners.length; j++) 
                            {
                                if($scope.ownerid === $scope.owners[j].OWNER_ID)
                                {
                                    $scope.ownerfirstname = $scope.owners[j].FIRST_NAME;
                                    $scope.ownermiddlename = $scope.owners[j].MIDDLE_NAME;
                                    $scope.ownerlastname = $scope.owners[j].LAST_NAME;
                                    $scope.ownerphone = $scope.owners[j].PHONE_NUMBERS;
                                    $scope.owneremail = $scope.owners[j].EMAIL_IDS;
                                    $scope.ownercity = $scope.owners[j].CITY;
                                    $scope.owneraddress = $scope.owners[j].ADDRESS;
                                    $scope.ownerdbid = $scope.owners[j]._id;
                                }

                            }
                        }
                    }
                    
                    for(var k=0;k < $scope.tenants.length;k++)
                    {
                        if($scope.tenants[k].FLAT_NO === inputsearch)
                        {
                            $scope.tenantfirstname = $scope.tenants[k].FIRST_NAME;
                            $scope.tenantmiddlename = $scope.tenants[k].MIDDLE_NAME;
                            $scope.tenantlastname = $scope.tenants[k].LAST_NAME;
                            $scope.tenantemail= $scope.tenants[k].EMAIL_IDS;
                            $scope.tenantmobile = $scope.tenants[k].PHONE_NUMBERS;
                            $scope.tenantdbid = $scope.tenants[k]._id;
                        }
                        
                    }

                }
            }
         
            $scope.getDetails = function() {

                DataService.getOwnersData().then(
                    $scope.getOwnersDataSuccessHandler
                );
                

            }

            
            $scope.getOwnersDataSuccessHandler = function(response)
            {
                console.log(response);
                $scope.owners = response.data.docs;
                console.log($scope.owners);
                $scope.getOwnerDetails();
                $scope.getRandomSpan();
            }
            
            $scope.getOwnerDetails = function()
            {
            //     console.log($scope.owners);
                for(var i=0;i< $scope.owners.length; i++)
                {
                    $scope.getOwnedFlats(i); 
                }    
            }
            
            $scope.getOwnedFlats = function(particularOwner)
            {
                i = particularOwner;

                $scope.ownerId = $scope.owners[particularOwner].OWNER_ID; 
                $scope.owners[particularOwner].ownedFlats = []; 
                
                for(var i =0; i< $scope.flat.length; i++)
                {
                    if($scope.flat[i].OWNERS == $scope.ownerId)
                    {
                        $scope.owners[particularOwner].ownedFlats.push($scope.flat[i].FLAT_NO);
                    }
                }
                
            }
            
            $scope.getRandomSpan =function()
            {
                for(var i=0;i<$scope.owners.length;i++)
                {
                    $scope.owners[i].dues=Math.floor(Math.random()*2);
                    $scope.tenants[i].dues=Math.floor(Math.random()*2);
                }
            };


                            
            $http.get("/flatDetails")
            .success(function (response) { $scope.flat = response.docs; });


            $http.get("/tenantDetails")
            .success(function (response) { $scope.tenants = response.docs; });

            

        });


        app.factory("DataService",function($http,$location){
    
            var _getDataService = 
            {
                
                getOwnersData : function()
                {
            	   return $http.get('/ownerDetails');
                },
                getFlatsData : function()
                {
                    return $http.get('/flatDetails');
                },
                getTenantsData : function()
                {
                    return $http.get('/tenantDetails');
                },
            
            }
            
            return _getDataService;
        });

    </script>















</body>
</html>
