<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Detail Page</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <style>
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }
    .gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }
.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; 
} 
.green {
    background-color: green;
    color: white;
}
.red {
    background-color: red;
    color: white;
}
      </style>
  </head>
  <body  >
    <div ng-app="myApp" ng-controller="customersCtrl" ng-init="getDetails();getMonthlyDetails(mymonth,myyear);getCredentials();init()">
              <nav class="navbar navbar-inverse">
            <div class="container-fluid" >
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="https://www.google.co.in/#q=kendriya+vihar+hyderabad+indira+nagar">K.V.Phase-II</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="inactive"><a href="">Home</a></li>
                        <li class="inactive"><a href="/dashboard">Dashboard</a></li>
                        <li class="inactive"><a href="/receipts">Receipts</a></li>
                        <!--<li class="inactive"><a href="/email">Emails</a></li> -->
                        <li class="active"><a href="">Maintenance</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>     <a class="md-icon-button md-accent" aria-label="Favorite" data-toggle="modal" data-target="#credentialModal" data-whatever="@mdo">
                                            <span class="glyphicon glyphicon-log-in"></span> Login
                                            <md-tooltip> Change credentails</md-tooltip>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

                              <div class="form-group">
              
                              <div class="row">
                                    <div class="col-sm-11 col-md-11">                  
                                        <div ng-init="selectedyear=end;month.name=years[m-1];month.id=m;">
                                            <label>Year</label>
                                                <select  ng-model="selectedyear"  id="year" ></select>
    
                                            <label>Month</label>
                                                <select  ng-model="selectedmonth"  ng-click="selectedmonth!=NULL && getMonthlyDetails(selectedmonth,selectedyear)">
                                                <option ng-repeat="option in months"  value="{{option.name}}">{{option.name}}</option>
            
                                                </select>    
    
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1"> 
                                            <md-button class="md-warn md-raised md-fab md-mini" aria-label="Eat cake" data-toggle="modal" data-target="#mailModal" data-whatever="@mdo">
                                            <span class="glyphicon glyphicon-send"></span>
                                            <md-tooltip> Send Remainder Mails</md-tooltip>

                                            </md-button>
                                    </div>
                                </div>
                            </div>
                    <div style="margin:50px" ng-show="visible">
                            <md-grid-list
                            md-cols-sm="1" md-cols-md="1" md-cols-gt-md="30"
                            md-row-height-gt-md="1:1" md-row-height="4:3"
                            md-gutter="4px" md-gutter-gt-sm="2px" >
                                <md-grid-tile ng-repeat="x in flatnos" 
                                    md-colspan-sm="1" 
                                    ng-class="x.status">
                                        {{x.FLAT_NO}} 
</md-grid-tile>
                            </md-grid-list>
                    </div>
          
        
          <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">EMAIL TEMPLATE</h4>
                        </div>
                        <div ng-show="visibleSender">
                        <div class="modal-body" >
                            <form>
                                <div class="form-group">
                                    <label for="u.USER_NAME" class="control-label">User Name: {{u.username}}</label>
                                </div>                                
                                <h3>Hello,<br>

                                    This is a gentle reminder that you have not yet paid the maintenance <br>

                                    Please pay it as soon as possible <br>

                                    Regards <br>
                                    Heads <br>                       
                                </h3>
                            </form>
                        
                            </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="revokeAuth()">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendmails()">Send Mails</button>
                                
                        </div>
                    </div>
                        <div ng-hide="visibleSender">
                        <div class="modal-body" >
                                                    
          <div class="form-group">
            <label for="enteredpassword" class="control-label">Password :</label>
            <input type="password" class="form-control" ng-model="enteredpassword">
          </div>                                
                                </div>

                            
                        <div class="modal-footer">
                                 
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cleartext()">Cancel</button>
                            <button type="button" class="btn btn-primary"  ng-click="passwordvalidation(enteredpassword)">Submit</button>                            
                            </div>

                            </div>
                        </div>
                        </div>
                    </div>
        
        
            <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Credentials</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="u.USER_NAME" class="control-label">User Name:</label>
            <input type="text" class="form-control" ng-model="u.USER_NAME">
          </div>
          <div class="form-group">
            <label for="u.PASSWORD" class="control-label">Password :</label>
            <input type="password" class="form-control" ng-model="u.PASSWORD">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getCredentials()">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCredentials(u.USER_NAME,u.PASSWORD)">Save Credentials</button>
      </div>
    </div>
  </div>
</div>
        
      </div>
      <script>
      var app = angular.module('myApp', ['ngMaterial']);
    app.controller('customersCtrl', function ($scope, $http, DataService) 
    {
            
            $scope.searched = false;
            $scope.date = new Date();
            var previousMonth = new Date($scope.date);
            var previousYear = new Date($scope.date);
            $scope.dateEditorEnabled = false;
            $scope.u;
            $scope.emailcontent="";
    
            var start = 2010;
            $scope.end = new Date().getFullYear();
            var e=$scope.end;
            $scope.myyear=$scope.end;
            $scope.selectedyear=$scope.end;
            var options = "";
            for(var year = $scope.end ; year >=start; year--)
            {
                options += "<option>"+ year +"</option>";
            }
            $scope.m=new Date().getMonth()+1;
            document.getElementById("year").innerHTML = options;            
            $scope.months=[
                    {id: '1', name: 'January'},
                    {id: '2', name: 'February'},
                    {id: '3', name: 'March'},
                    {id: '4', name: 'April'},
                    {id: '5', name: 'May'},
                    {id: '6', name: 'June'},
                    {id: '7', name: 'July'},
                    {id: '8', name: 'August'},
                    {id: '9', name: 'September'},
                    {id: '10', name: 'October'},                    
                    {id: '11', name: 'November'},
                    {id: '12', name: 'December'}
            ];        
            $scope.mymonth=$scope.months[$scope.m-1].name;
            $scope.getcolor = function(x)
            {
                if(x.status == 1)
                    return 'green';
                else 
                    return 'red';
            }
            $scope.updateCredentials = function(USER_NAME,PASSWORD)
            {
                var request= {
                    pass : $scope.u.PASSWORD,
                    username : $scope.u.USER_NAME
                };
                $http.put('/auth',request);
            }
            $scope.formarray = function(month,selectedyear)
            {
                for(var i=0;  i< $scope.flatnos.length ; i++)
                {
                    $scope.flatnos[i].status='red';
                    for(j=0;j< $scope.grid.length;j++)
                    {
                        $scope.grid[j].flatNo = angular.uppercase($scope.grid[j].flatNo);
                        if($scope.flatnos[i].FLAT_NO === $scope.grid[j].flatNo && $scope.grid[j].complete!="1")
                        {
                            $scope.grid[j].complete = 1;
                            $scope.flatnos[i].status='green';
                            break;
                        }
                    }
                }
                $scope.visible=true;
            }
            $scope.z="0";
            $scope.sendDate = function(month,selectedyear)
            {
                if($scope.z!="0")
                {
                    $scope.formarray(month,selectedyear);
                }
            }
  
            $scope.mails = function(flatno)
            {
                return $http.get("/sendMail/"+flatno).success(function (response) { $scope.j=$scope.docs;});
            }            
            
            $scope.revokeAuth = function()
            {
                $scope.enteredpassword=null;
                $scope.authentication=0;
                $scope.visibleSender=false;
            }
            
            $scope.cleartext = function(){
                $scope.enteredpassword=null;
            }
            
            $scope.sendmails = function()
            {
                $scope.maillist=[];
                for(var i=0; i<$scope.flatnos.length ; i++)
                {
                    if($scope.flatnos[i].status === "red")
                    {
                            console.log("Succes");
                            $scope.maillist.push($scope.flatnos[i].FLAT_NO);
//                            $scope.mails($scope.flatnos[i].FLAT_NO);
                    }
                }
                            $scope.mails($scope.maillist);
                            console.log($scope.maillist);
                $scope.authentication=0;
                $scope.visibleSender=false;
            }

            $scope.getCredentials = function()
            {
                $http.get("/uid")
                    .success(function (response) { $scope.u=response; console.log($scope.u)});                
            }
            $scope.init = function()
            {
                $scope.authentication = 0;
            }
            $scope.passwordvalidation = function(pass)
            {
                /*var request= {
                    pass : pass
                };*/
                console.log("hie");
                console.log(pass);
                DataService.getPasswordValidate(pass).then(
                    $scope.getPasswordDataSuccessHandler
                    );
                $scope.enteredpassword=null;
                
            }   
            
            $scope.getDetails = function() {
                DataService.getAllFlatsData().then(
                    $scope.getAllFlatsDataSuccessHandler
                );
            }
            $scope.getPasswordDataSuccessHandler = function(response)
            {
                console.log(response.data);
                $scope.authentication=response.data;
                console.log($scope.authentication);
                if($scope.authentication == 0)
                    $scope.visibleSender = false;
                else if($scope.authentication == 1)
                    $scope.visibleSender = true;
            }
            $scope.getMonthlyDetails= function (month,year)
            {
                $scope.visible=false;
                $scope.mymonth=month;
                $scope.myyear = year;
                DataService.getAllMonthsData(month,year).then(
                    $scope.getAllMonthsDataSuccessHandler
                );        
            }
            
            $scope.getAllMonthsDataSuccessHandler = function(response)
            {
                $scope.grid=response.data.flats;    
                $scope.z++;
                $scope.sendDate($scope.mymonth,$scope.myyear);
            }
            $scope.getAllFlatsDataSuccessHandler = function(response)
            {
                $scope.flatnos=response.data.flats;
                
            }
            
            $scope.getOwnerDetails = function()
            {
                for(var i=0;i< $scope.owners.length; i++)
                {
                    $scope.getOwnedFlats(i); 
                }    
            }
            
            $scope.getOwnedFlats = function(particularOwner)
            {
                i = particularOwner;
                $scope.ownerId = $scope.owners[particularOwner].OWNER_ID; 
                for(var i =0; i< $scope.flat.length; i++)
                {
                    if($scope.flat[i].OWNERS == $scope.ownerId)
                    {
                        $scope.owners[particularOwner].ownedFlats=$scope.flat[i].FLAT_NO;
                    }
                }
            }
                        
            $scope.sendEmailTemplate = function()
            {
                $http.get("/email")
                    .success(function (response) { $scope.emailcontent=response.docs; });
            }
                    
                                        
        });

        app.factory("DataService",function($http,$location){
            var _getDataService = 
            {
                getAllFlatsData :function()
                {
                    return $http.get('/getFlats');
                },
                getAllMonthsData :function(month,selectedyear)
                {
                    return $http.get('/sendstatus/'+month+'/'+selectedyear);
                },
                getPasswordValidate : function(pass)
                {
                    return $http.get('passauth/'+pass);
                },
           
            }
            
            return _getDataService;
        });
    </script>
</body>
</html>