<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Detail Page</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  </head>
  <body  >
      <div ng-app="myApp" ng-controller="customersCtrl">
              <nav class="navbar navbar-inverse">
            <div class="container-fluid" >
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">K.V.Phase-II</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="inactive"><a href="">Home</a></li>
                        <li class="inactive" ng-click="searched = false;flatNumberEntered='' "><a href="/dashboard">Dashboard</a></li>
                        <li class="active"><a href="/receipts">Receipts</a></li>
                        <li class="inactive"><a href="/maintenance">Maintenence</a></li>
                     
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

      
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
                                        <div class="form-group">              
                              <div class="row">
<div class="col-sm-9 col-md-9">                  
    
                                  </div>
<div class="col-sm-3 col-md-3">                  

                          <div ng-hide="dateEditorEnabled">Date: {{date | date:'dd-MM-yyyy'}}<br>
            <a href="" ng-click="enableEditor()">Change Date</a>
        </div>
        <div ng-show="dateEditorEnabled">
            <input type="date" ng-model="editableDate" ng-show="dateEditorEnabled">
            <a href="" ng-click="save()">Save</a>
            or
            <a href="" ng-click="disableEditor()">cancel</a>
        </div><br>

                                  </div>
                                  </div>
          </div>
                                                  <div class="form-group">              
                              <div class="row">
<div class="col-sm-1 col-md-1">
                                  </div>
<div class="col-sm-10 col-md-10">                  
    <div layout layout-sm="column">
                <md-input-container flex>
          <label>Flat Number: </label>
          <input ng-model="flatNo" >
        </md-input-container>
                          <md-input-container flex>
          <label>Recipt ID: </label>
          <input ng-model="receiptId" >
        </md-input-container>

    </div>

                                  </div>
<div class="col-sm-1 col-md-1">                  


                                  </div>
                                  </div>
          </div>

                                        <div class="form-group">              
                              <div class="row">
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                  
<div class="col-sm-10 col-md-10">                  
              <md-input-container flex>
          <label>Amount: </label>
          <input ng-model="amount" >
        </md-input-container>    
                                  </div>
<div class="col-sm-1 col-md-1">                  


                                  </div>
                                  </div>
          </div>
                                        <div class="form-group">              
                              <div class="row">
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                  <div class="col-sm-10 col-md-10">                  
                                          <div layout layout-sm="column">
                                                      <md-input-container flex>
          Mode Of Payment :
          <md-select ng-model="paymentMode" >
            <md-option ng-repeat="paymentItem in paymentItems" value="{{paymentItem.name}}">
              {{paymentItem.name}}
            </md-option>
          </md-select>
        </md-input-container>
            <md-input-container flex>
          Payment Type:
          <md-select ng-model="paymentTyp" >
            <md-option ng-repeat="paymentType in paymentTypes" value="{{paymentType.name}}">
              {{paymentType.name}}
            </md-option>
          </md-select>
        </md-input-container>

                                  </div>
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                            </div>
          </div>
          </div>
                                            
                              <div class="form-group">              
                              <div class="row">          
          <div class="col-sm-1 col-md-1">                  
                                  </div>
                                  <div class="col-sm-10 col-md-10">                  
                <div layout layout-sm="column">                       
                 <md-input-container flex>
          <label>Recieved By: </label>
          <input ng-model="received" >
        </md-input-container>
                                      
                              <md-input-container flex>
          <label>Payment for the year: </label>
          <input name="Payment for the year: " ng-model="year" 
                 required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
        </md-input-container>
                                      </div>
          </div>
                                  
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                            </div>
          </div>

          
                              <div class="form-group">              
                              <div class="row">
<div class="col-sm-3 col-md-3">                  
    
                                  </div>
<div class="col-sm-6 col-md-6">                  
    <div flex="100" flex-gt-sm="25" layout="row" >
      <fieldset class="standard" flex>
        <legend>Paid for Month/Months:  </legend>
        <div layout="row" layout-wrap flex>
          <div flex="25" ng-repeat="item in months">
            <md-checkbox ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)" value="{{item}}">
                
            {{item}} <span ng-if="exists(item, selected)">selected</span>
            </md-checkbox>
          </div>
        </div>
      </fieldset>
    </div>
                                  </div>
<div class="col-sm-3 col-md-3">                  
                                  </div>
                                  </div>
          </div>
                             <div class="form-group">              
                              <div class="row">
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                  <div class="col-sm-10 col-md-10">
                                      
                                          <md-input-container class="md-block">
        <label>Remarks</label>
        <textarea ng-model="remarks" columns="1" md-maxlength="150" rows="5"></textarea>
      </md-input-container>

                                  </div>
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                            </div>
          </div>
                                 <div class="form-group">              
                              <div class="row">
                                  <div class="col-sm-5 col-md-5">                  
                                  </div>
                                  <div class="col-sm-7 col-md-7">
                                      
    <md-button class=" md-raised md-mini" ng-click="createReceipts();showSimpleToast()" ng-disabled="disableButton()">
        
        Submit</md-button>
                                  </div>
                                  <div class="col-sm-1 col-md-1">                  
                                  </div>
                                            </div>
          </div>
                                  </div>
        <script>
        var app = angular.module('myApp', ['ngMaterial']);
        app.controller('customersCtrl', function ($scope,$http,$mdToast) 
        {
            $scope.paymentItems = [ {id: 1, name: 'Cash'}, {id: 2, name: 'Cheque'}, {id: 3, name: 'Card'}];
            $scope.paymentTypes = [ {id: 1, name: 'Maintenance'}, {id: 2, name: 'Community Hall Booking'}, {id: 3, name: 'Car Parking'}, {id: 4, name: 'Commercial Event'}, {id: 5, name: 'Birthday Event'}, {id: 6, name: 'Water Charges'}, {id: 7, name: 'Cable Operators'}, {id: 8, name: 'Internet Operators'}, {id: 9, name: 'Misc Vendors'}];
            $scope.flatNo = "";
            $scope.receiptId ;
            $scope.amount ;
            $scope.date = new Date();
            $scope.dateEditorEnabled = false;
            $scope.paymentMode;
            $scope.paymentTyp;
            $scope.remarks;
            $scope.received ;
            var getYear = new Date().getFullYear();
            $scope.year = getYear;
            $scope.createReceipts;
            $scope.disable=false;
            $scope.months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; 
            $scope.selection = [];
            $scope.disableButton = function()
            {
                if($scope.flatNo!="" && $scope.receiptId!="" && $scope.amount!="" && $scope.paymentMode!="" &&
                  $scope.paymentTyp!="" && $scope.received!="" && $scope.selection!="" )
                {
                    return false;
                }
                return true;
            }
            $scope.reset = function()
            {
                $scope.flatNo="";
                $scope.receiptId="";
                $scope.amount="";
                $scope.paymentMode="";
                $scope.paymentTyp="";
                $scope.received="";
                $scope.selection = [];
            }
            $scope.createReceipts = function() {
                        
                    $scope.disable=false;
                    $scope.flatNo=angular.uppercase($scope.flatNo);
                    var data = {
                    flatNo:$scope.flatNo,
                    receiptId:$scope.receiptId ,
                    amount:$scope.amount ,
                    date:$scope.date ,
                    paymentMode:$scope.paymentMode,
                    paymentTyp:$scope.paymentTyp,
                    remarks:$scope.remarks ,
                    received:$scope.received ,
                    year:$scope.year ,
                    months:$scope.selection
                    };
                    $http.post('/', data)
                        .success(function(data) {
                            $scope.receipts = data;
                        })
                        .error(function(data) {
                            console.log('Error: ' + data);
                        });
                        
                        $scope.reset();    
                
                };
            
            $scope.enableEditor = function () {
                $scope.dateEditorEnabled = true;
                $scope.editableDate = $scope.date;
            };
            $scope.disableEditor = function () {
                $scope.dateEditorEnabled = false;
            };

            $scope.save = function () {
                $scope.date = $scope.editableDate;
                $scope.disableEditor();
            };
            
          $scope.toggleSelection = function toggleSelection(month) {
            var idx = $scope.selection.indexOf(month);

            // is currently selected
            if (idx > -1) {
              $scope.selection.splice(idx, 1);
            }

            // is newly selected
            else {
              $scope.selection.push(month);
            }
          };
            
                        
 var last = {
      bottom: true,
      top: true,
        
      left: true,
      right: true
    };
  $scope.toastPosition = angular.extend({},last);
  $scope.getToastPosition = function() {
    sanitizePosition();
    return Object.keys($scope.toastPosition)
      .filter(function(pos) { return $scope.toastPosition[pos]; })
      .join(' ');
  };
  function sanitizePosition() {
    var current = $scope.toastPosition;
    if ( current.bottom && last.top ) current.top = false;
    if ( current.top && last.bottom ) current.bottom = false;
    if ( current.right && last.left ) current.left = false;
    if ( current.left && last.right ) current.right = false;
    last = angular.extend({},current);
  }
  $scope.showSimpleToast = function() {
    $mdToast.show(
      $mdToast.simple()
        .content('Recipt Added..!!')
        .position($scope.getToastPosition())
        .hideDelay(3000)
    );
  };

})
.controller('ToastCtrl', function($scope, $mdToast) {
  $scope.closeToast = function() {
    $mdToast.hide();
  }; 
        });
            
        
    </script>
    </body>
</html>